html {
  font-size: 2vw;
}

h1,
p {
  text-align: center;
  font-size: 350%;
}

h2 {
  text-align: center;
  font-size: 250%;
  font-weight: lighter;
}

h3 {
  text-align: center;
  font-weight: lighter;
}

.main {
  background-color: #ffffff;
  border-radius: 10px;
}

.leading-text {
  position: absolute;
  margin: auto;
  right: 0;
  top: 3%;
  left: 0;
  height: 100px;
}

.upper-text {
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 35%;
  left: 0;
  font-size: 10vw;
}

.lower-text {
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 10%;
  left: 0;
  font-size: 10vw;
}

.github {
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 0;
  top: 95%;
  left: 0;
  height: 100px;
  text-align: center;
}

.logo {
  width: 20%;
  position: absolute;
  margin: auto;
  top: 2%;
  left: 2%;
}

.display-img {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 40%;
  left: 0;
  height: 30%;
}
